
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }
  
  .logo {
    font-size: 2em;
    color: white;
    margin-right: auto;
  }
  
  nav ul {
    display: flex;
    gap: 30px;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  
  nav ul li a:hover {
    color: #ff6347;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url('images/hero-image.jpg') no-repeat center center/cover;
    color: blue;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.5em;
  }
  
  .content {
    padding: 40px 20px;
    text-align: center;
  }
  
  .content h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .post {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .post img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .post-text h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .post-text p {
    font-size: 1.1em;
    color: #555;
  }
  
  footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .social-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
  }
  
  .social-links a:hover {
    color: #00308F;
  }
  
  footer p {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .post {
      flex-direction: column;
      align-items: center;
    }
  
    .post img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
  
  button{

    color: #00308F;
  }
  button{

    color: #00308F;
  }
  button{
   
    color: #00308F;
  }
  .p{
    color: #333;
  }
  
    
.h5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .p6{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }